footer{
    background: $color30;
    padding: 20px;
    margin-top: 300px;
    p{
        text-align: center;
        font-style: italic;
        color: $color60;
        font-weight: 600;
    }
    @media (max-width: 599px){
       footer{
        margin-top: 200px;
       } 
    }
    @media (max-width: 340px){
       footer{
        margin-top: 100px;
       }
    }
    @media (max-width: 150px){
        footer{
            margin-top: 0px;
        }
    }
}
