header{
    background: $color60;
    padding: 20px;
    width: 100%;
    text-align: center;
        h1{
            font-family: 'Dancing Script', cursive;
            font-family: 'Montserrat', sans-serif;
            font-size: 2em;
            color: #fff;
        }
        //Style for Media Query
        @media (max-width: 768px) {
            h1{
                font-size: 1.5em;
            }
        }
}